body{
  color: #333333;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;                                                                   | 
  /* background-color: #A0BF8A; */
}
h1{
  font-size: 250%;
  font-weight: normal;
  margin: 0px auto;
}
h2{
  font-size: 150%;
  font-weight: normal;
}
h3{
  font-size: 100%;
  font-weight: normal;
}
span.s1{
  font-size: 120%;
  font-weight: bold;
  color: #880007;
}
span.s2{
  font-size: 50%;
}
/* 翻訳 */
div.translation{
  font-size: 50%;
  margin: -5px 0px 30px 0px;
}


hr{
  text-align: center;
  border: 0 none; 
  width: 80%;
  height: 2px; 
  background-color: #696969;
  margin: 50px auto;
}


/*フェード*/
.fade{
  animation: fadeIn 1.5s ease 0.0s 1 normal;
}
@keyframes fadeIn { /*animetion-nameで設定した値を書く*/
  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}


.center{
  margin: 10px auto;
  text-align: center;
  white-space: nowrap;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

/*グローバルメニュー*/
#title{
  padding: 0px;
  margin:  0px 40px 0px 10px;
  float: left;
  text-align: center;
  vertical-align: middle;
}
#menu{
  padding: 0px;
  margin: 10px 0px 10px 20px;
  list-style-type: none;
  font-size: 24px;
}
#menu li{
  /*padding: 10px;*/
  margin: 10px;
  display: inline;
}
#menu li a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: #CCC;
  color: #FFF;
  text-align: center;
  float: left;
}
#menu li a:hover{
  background-color: #333333;
  color: #FFF;
}
#menu li a.selected{
  background-color: #333333;
  color: #FFF;
}
/*.header{
  position: fixed;
  top:  0px; 
}*/


/*パネル*/
span.caption{
  padding: 4px 10px;
  margin: 10px 20px 10px -20px;
  line-height: 2;
  font-size: 250%;
  /**
  background-color: #333333;
  color: #fff;
  **/
}
#panel li{
  list-style:none;
}
#panel li#act_top img{
/*  text-align: center;*/
  margin: 0px 0px 0px -46px;
  width: 104%;
}

.menu_image{
  width: 50%;
}

div.button a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: #CCC;
  color: #FFF;
  text-align: center;
  float: left;
}
div.button a:hover{
  background-color: #000;
  color: #FFF;
}


/* 写真 */
.image-vw {
  width : 50vw; 
}
div.arrow{
  color: #333;
  font-size: 250%
}


/* 牧場概要 */
table tr th, td{
  padding: 4px 10px;
  margin: 10px 20px 10px -20px;
  line-height: 2;
  font-size: 24px;
  /**
  font-size: 250%;
  background-color: #333333;
  color: #fff;
  **/
}


/* フッター */
.footer{
  color: #CCCCCC;
  background-color: #333333
}
