body{
  color: #333333;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;                                                                   | 
  /* background-color: #A0BF8A; */
}
h1{
  font-size: 250%;
  font-weight: normal;
  margin: 0px auto;
}
h2{
  font-size: 150%;
  font-weight: normal;
}
h3{
  font-size: 100%;
  font-weight: normal;
}
span.s1{
  font-size: 120%;
  font-weight: bold;
  color: #880007;
}
span.s2{
  font-size: 50%;
}

/* 取り消し線 */
span.del{
  text-decoration: line-through;
}


/* 翻訳 */
div.translation{
  font-size: 50%;
  margin: -5px 0px 30px 0px;
}


hr{
  text-align: center;
  border: 0 none; 
  width: 80%;
  height: 2px; 
  background-color: #696969;
  margin: 50px auto;
}


/*フェード*/
.fade{
  animation: fadeIn 1.5s ease 0.0s 1 normal;
}
@keyframes fadeIn { /*animetion-nameで設定した値を書く*/
  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}


.center{
  margin: 10px auto;
  text-align: center;
  white-space: nowrap;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

/*グローバルメニュー*/
#menu{
  padding: 0px;
  margin: 0px 0px 10px 20px;
  list-style-type: none;
  font-size: 24px;
  overflow: visible;
  position: absolute;
  z-index: 50;
}

#title{
  padding: 0px;
  margin:  0px 40px 0px 10px;
  float: left;
  text-align: center;
  vertical-align: middle;
}
#title a img{
  margin: 0px 0px 0px -20px;
  width: 220px;
}
#menu li{
  /*padding: 10px;*/
  margin: 10px;
  display: inline;
}
#menu li a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: #CCC;
  color: #FFF;
  text-align: center;
  float: left;
  border-radius: 10px;
}
#menu li a:hover{
  background-color: #333333;
  color: #FFF;
}
#menu li a.selected{
  background-color: #333333;
  color: #FFF;
}

/* 戻るボタン */
a.return{
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: #CCC;
  color: #FFF;
  text-align: center;
  /* float: left; */
  border-radius: 10px;
}
a.return:hover{
  background-color: #333333;
  color: #FFF;
}

/* 応援する右下ボタン */
a img.adv{
  font-size: 150%;
  position:fixed;
  right:20px;
  bottom:20px;
  opacity:1.0;
  padding: 0px;
  margin: 10px;
  text-decoration: none;
  background-color: #CCC;
  color: #FFF;
  text-align: center;
  float: left;
  border-radius: 70px;
}

a img.adv:hover{
  background-color: #333333;
  color: #FFF;
}


/*パネル*/
span.caption{
  padding: 4px 10px;
  margin: 10px 20px 10px -20px;
  line-height: 2;
  font-size: 250%;
  /**
  background-color: #333333;
  color: #fff;
  **/
}
#panel li{
  list-style:none;
}
/*#panel li#act_top img{
  text-align: center;
  margin: 0px 0px 0px -46px;
  width: 104%;
}*/

.menu_image{
  width: 50%;
}

div.button a{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: #CCC;
  color: #FFF;
  text-align: center;
  float: left;
}
div.button a:hover{
  background-color: #000;
  color: #FFF;
}


/* 写真 */
.image-vw {
  width : 50vw; 
}
div.arrow{
  color: #333;
  font-size: 250%
}

/* トップ画像 */
.img_inner{
  /*max-width: 110%;*/
  height: 700px;
  margin: 0px 0px 0px -40px;
  overflow: hidden;
  position: relative;
}

/* トップ画像の上に透過カラー */
.img_inner:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 30;
}

/* トップ画像の上に文字
.img_inner p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:sans-serif;
  font-size:50px;
  font-weight:bold;
  letter-spacing:5px;
  color:#fff;
  z-index: 40;
} */

/* トップ画像の上にロゴ画像 */
.img_inner .img_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:sans-serif;
  letter-spacing:5px;
  color:#fff;
  z-index: 40;
}


.img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 7.0s;
}

.current-img{
  opacity: 1;
  z-index: 20;
}



table tr th, td{
  padding: 4px 10px;
  margin: 10px 20px 10px -20px;
  line-height: 2;
  font-size: 24px;
  /**
  font-size: 250%;
  background-color: #333333;
  color: #fff;
  **/
}


/* 牧場概要 */
.center_table{
  margin: auto;
}

/* フッター */
#footer{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

#footer li{
  display: inline;
}

#footer li a{
  color: #333333;
  text-decoration: none;
  border-radius: 10px;
}
#footer li a.s1{
  font-size: 70%;
}
p.s1{
  font-size: 70%;
}


/* アイコン 小*/
img.icon_s4{
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}

/* アイコン 中 */
img.icon_s3{
  width: 120px;
  height: 120px;
  margin: 20px 20px;
}
